<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../src/css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="../src/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../src/js/bootstrap.min.js"></script>
</head>
<body>
  <h2> 面包屑导航 </h2>
  <div>
    <ol class="breadcrumb">
      <li><a href="#" class="active">User</a></li>
      <li><a href="#" >li</a></li>
      <li><a href="#" >atom</a></li>
    </ol>
  </div>
  <div>
    <ul class="pagination pagination-lg">
      <li><a href="#">&laquo;</a></li>
      <li class="active"><a href="#">1</a></li>
      <li class="disabled"><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li class="active"><a href="#">1</a></li>
      <li class="disabled"><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
    <ul class="pagination pagination-sm">
      <li><a href="#">&laquo;</a></li>
      <li class="active"><a href="#">1</a></li>
      <li class="disabled"><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>

  <div>
    <ul class="pager">
      <li class="previous"><a href="http://www.baidu.com">&larr; baidu</a></li>
      <li class="next"><a href="#">Newer &rarr;</a></li>
    </ul>
  </div>

  <div>
    <span class="label label-default">默认标签</span>
    <span class="label label-primary">主要标签</span>
    <span class="label label-success">成功标签</span>
    <span class="label label-info">信息标签</span>
    <span class="label label-warning">警告标签</span>
    <span class="label label-danger">危险标签</span>
  </div>
  <br>
  <div>
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#"><span class="badge pull-right">1</span>首页</a>
    </li>
    <li><a href="#">简介</a></li>
    <li>
      <a href="#"><span class="badge pull-left">2</span>消息</a>
    </li>
  </ul>
  </div>
  <div>
    <div class="container">
       <div class="jumbotron">
          <h1>欢迎登陆页面！</h1>
          <p>这是一个超大屏幕（Jumbotron）的实例。</p>
          <p><a class="btn btn-primary btn-lg" role="button">
             学习更多</a>
          </p>
       </div>
    </div>
  </div>

  <div>
    <div class="jumbotron">
       <div class="container">
          <h1>欢迎登陆页面！</h1>
          <p>这是一个超大屏幕（Jumbotron）的实例。</p>
          <p><a class="btn btn-primary btn-lg" role="button">
             学习更多</a>
          </p>
       </div>
    </div>
  </div>

</body>
</html>
