<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../src/css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="../src/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../src/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="page-header">
    <h1> 页面标题,page-header<small>副标题</small></h1>
  </div>

  <h2> 面包屑导航 </h2>
  <div>
    <ol class="breadcrumb">
      <li><a href="#" class="active">User</a></li>
      <li><a href="#" >li</a></li>
      <li><a href="#" >atom</a></li>
    </ol>
  </div>
  <div>
    <ul class="pagination pagination-lg">
      <li><a href="#">&laquo;</a></li>
      <li class="active"><a href="#">1</a></li>
      <li class="disabled"><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
    <ul class="pagination">
      <li><a href="#">&laquo;</a></li>
      <li class="active"><a href="#">1</a></li>
      <li class="disabled"><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
    <ul class="pagination pagination-sm">
      <li><a href="#">&laquo;</a></li>
      <li class="active"><a href="#">1</a></li>
      <li class="disabled"><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">5</a></li>
      <li><a href="#">&raquo;</a></li>
    </ul>
  </div>

  <div>
    <ul class="pager">
      <li class="previous"><a href="http://www.baidu.com">&larr; baidu</a></li>
      <li class="next"><a href="#">Newer &rarr;</a></li>
    </ul>
  </div>

  <div>
    <span class="label label-default">默认标签</span>
    <span class="label label-primary">主要标签</span>
    <span class="label label-success">成功标签</span>
    <span class="label label-info">信息标签</span>
    <span class="label label-warning">警告标签</span>
    <span class="label label-danger">危险标签</span>
  </div>
  <br>
  <div>
  <ul class="nav nav-pills">
    <li class="active">
      <a href="#"><span class="badge pull-right">1</span>首页</a>
    </li>
    <li><a href="#">简介</a></li>
    <li>
      <a href="#"><span class="badge pull-left">2</span>消息</a>
    </li>
  </ul>
  </div>
  <div>
    <div class="container">
       <div class="jumbotron">
          <h1>欢迎登陆页面！</h1>
          <p>这是一个超大屏幕（Jumbotron）的实例。</p>
          <p><a class="btn btn-primary btn-lg" role="button">
             学习更多</a>
          </p>
       </div>
    </div>
  </div>

  <div>
    <div class="jumbotron">
       <div class="container">
          <h1>欢迎登陆页面！</h1>
          <p>这是一个超大屏幕（Jumbotron）的实例。</p>
          <p><a class="btn btn-primary btn-lg" role="button">
             学习更多</a>
          </p>
       </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="../src/img/self-protrait.jpg" alt="通用占位缩略图">
      </div>
      <div class="caption">
        <h3> van Gogh 荷兰后印象派画家</h3>
        <div>
          <a href="#" class="btn btn-primary" role="button"> 按钮 </a>
          <a href="#" class="btn btn-default" role="button"> 按钮 </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="../src/img/self-protrait.jpg" alt="通用占位缩略图">
      </div>
      <div class="caption">
        <h3> van Gogh 荷兰后印象派画家</h3>
        <div>
          <a href="#" class="btn btn-primary" role="button"> 按钮 </a>
          <a href="#" class="btn btn-default" role="button"> 按钮 </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="../src/img/self-protrait.jpg" alt="通用占位缩略图">
      </div>
      <div class="caption">
        <h3> van Gogh 荷兰后印象派画家</h3>
        <div>
          <a href="#" class="btn btn-primary" role="button"> 按钮 </a>
          <a href="#" class="btn btn-default" role="button"> 按钮 </a>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <img src="../src/img/self-protrait.jpg" alt="通用占位缩略图">
      </div>
      <div class="caption">
        <h3> van Gogh 荷兰后印象派画家</h3>
        <div>
          <a href="#" class="btn btn-primary" role="button"> 按钮 </a>
          <a href="#" class="btn btn-default" role="button"> 按钮 </a>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="alert alert-success"> 成功 </div>
  <div class="alert alert-info"> 信息 </div>
  <div class="alert alert-danger"> 危险 </div>
  <div class="alert alert-warning"> 警告 </div>

  <div class="alert alert-success alert-dismissable">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <a href="#" class="alert-link"> 成功,完成了提交 </a>
  </div>

  <div class="progress">
    <div class="progress-bar" style="width:40%;">
      <span class="sr-only">40% 完成</span>
    </div>
    <div class="progress-bar progress-bar-success" style="width:40%;">
      <span class="sr-only">40% 完成</span>
    </div>
  </div>

  <div class="progress progress-striped active">
    <div class="progress-bar progress-bar-warning"
    aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width:80%;">
      <span >80% 完成</span>
    </div>
  </div>

  <div class="media">
    <a class="pull-left" href="#">
      <img class="media-object" src="../src/img/self-protrait.jpg" alt="媒体对象">
    </a>
    <div class="media-body">
      <h4 class="media-heading"> 标题 <small> 副标题 </small> </h4>
      文本示例.
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="../src/img/self-protrait.jpg" alt="媒体对象">
        </a>
        <div class="media-body">
          <h4 class="media-heading"> 标题 <small> 副标题 </small> </h4>
          文本示例.
          <div class="media">
            <a class="pull-left" href="#">
              <img class="media-object" src="../src/img/self-protrait.jpg" alt="媒体对象">
            </a>
            <div class="media-body">
              <h4 class="media-heading"> 标题 <small> 副标题 </small> </h4>
              文本示例.
            </div>
          </div>
        </div>
      </div>
      <div class="media">
        <a class="pull-left" href="#">
          <img class="media-object" src="../src/img/self-protrait.jpg" alt="媒体对象">
        </a>
        <div class="media-body">
          <h4 class="media-heading"> 标题 <small> 副标题 </small> </h4>
          文本示例.
        </div>
      </div>
    </div>
  </div>
  <div class="media">
    <a href="#" class="pull-right">
      <img class="media-object" src="../src/img/self-protrait.jpg" alt="媒体对象">
    </a>
    <div class="media-body">
      <h4 class="media-heading"> 标题 <small> 副标题 </small> </h4>
      文本示例.
    </div>
  </div>
<ul class="media-list">
  <li class="media">
    <div class="media-right">
      <a href="#">
        <img class="media-object" src="../src/img/self-protrait.jpg" alt="媒体对象">
      </a>
      <div class="media-body">
        <h4 class="media-heading"> 标题 <small> 副标题 </small> </h4>
        文本示例.
      </div>
    </div>
  </li>
</ul>

<ul class="list-group">
  <li class="list-group-item active">
    <a href="#"> 免费域名注册 </a>
    <span class="badge"> 新 </span>
    24*7 支持
  </li>
</ul>

<div class="list-group">
  <button type="button" class="list-group-item active"> life </button>
  <button type="button" class="list-group-item"> life </button>
</div>
<div class="panel panel-default">
  <div class="panel-body">
    基础面板
  </div>
</div>
</body>
</html>
