<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../src/css/bootstrap.min.css" rel="stylesheet">
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="../src/jquery/1.11.3/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="../src/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="panel panel-default">
    <div class="panel-heading">
        Panel-Heading
    </div>
    <div class="panel-body">
      Panel-Body
    </div>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="panel-title">
        Panel-Title
      </div>
    </div>
    <div class="panel-body">
      Panel-Body
    </div>
    <div class="panel-footer"> panel-footer </div>
  </div>

  <div class="panel panel-success">
    <div class="panel-heading">
      <div class="panel-title">
        Panel-Title
      </div>
    </div>
    <div class="panel-body">
      Panel-Body
    </div>
    <div class="panel-footer"> panel-footer </div>
  </div>

  <div class="panel panel-warning">
    <div class="panel-heading">
      <div class="panel-title">
        Panel-Title
      </div>
    </div>
    <div class="panel-body">
      Panel-Body
    </div>
    <div class="panel-footer"> panel-footer </div>
  </div>

  <div class="panel panel-default">
    <div class="panel panel-heading">
      Panel with Table
    </div>
    <div class="panel-body">
      Panel-body
    </div>
    <ul class="list-group">
       <li class="list-group-item">免费域名注册</li>
       <li class="list-group-item">免费 Window 空间托管</li>
       <li class="list-group-item">图像的数量</li>
       <li class="list-group-item">24*7 支持</li>
       <li class="list-group-item">每年更新成本</li>
    </ul>
    <table class="table">
      <th>产品</th><th>价格</th>
      <tr><td>产品A</td><td>200</td></tr>
      <tr><td>产品B</td><td>400</td></tr>
    </table>
  </div>

  <div class="well"> I'm in well </div>
  <div class="well well-lg"> I'm in large well </div>
  <div class="well well-sm"> I'm in small well </div>


</body>
</html>
